
<!-- <div class="right" *ngIf="tutorials$">

  <h3>Tutorials</h3>
  <ul>
    <li (click)="delTutorial(tutorial.name)" *ngFor="let tutorial of tutorials$ | async">
       <a [href]="tutorial.name" target="_blank">{{ tutorial.name }}</a>
      <a [href]="tutorial.url" target="_blank">{{ tutorial.url }}</a>
    </li>
  </ul>

</div> -->

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input placeholder="Name" matInput type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
    <!-- <input matInput placeholder="Email" formControlName="name"> -->
    <mat-error *ngIf="f.name.errors">
            Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
